html {
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	min-height: 100vh;
	font-family: Inter, sans-serif;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size: 12px;
	color: #6e6893;
	background-color: #f2f0f9;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.container {
	min-width: 1300px;
	padding: 0 100px;
	margin: 0 auto;
}

img, svg {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

input, button, textarea {
	font-family: inherit;
}

button {
	font-weight: inherit;
	border: 0;
	padding: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
	margin: 0;
}

fieldset, 
input, 
textarea {
	border: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 0 !important;
	width: 0 !important;
	overflow: hidden;
}

th, td {
	padding: 0;
}